@page "/todo-list"
@inject IConfiguration Configuration // how to use file setting json

<h3>Todo List</h3>

@if (Todos is null)
{
	<LoadingComponent></LoadingComponent>
}
else
{
	<TodoSearchComponent OnSearch="SearchTask"></TodoSearchComponent>

	<div class="row mt-4">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Priorty</th>
					<th>Assigne</th>
					<th>Status</th>
					<th>Created Date</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Todos)
				{
					<tr>
						<td>@item.Name</td>
						<td><PriorityLabelComponent Priority="item.Priority"></PriorityLabelComponent></td>
						<td><a @onclick="() => OpenAssignPopup(item.Id)">@item.AssigneeName</a></td>
						<td><StatusLabelComponent Status = "item.Status"></StatusLabelComponent></td>
						<td>@item.CreatedDate.ToString(Configuration["DateTimeFormat"])</td>
						<td>
							<a href="/todo-detail/@item.Id" class="btn btn-sm btn-outline-info">Detail</a>
							<a href="/todo-edit/@item.Id" class="btn btn-sm btn-outline-success">Edit</a>
							<button class="btn btn-sm btn-outline-danger" @onclick="() => OpenDeleteTaskPopup(item.Id)">Delete</button>
						</td>
					</tr>
				}
			</tbody>
			<!--Paging-->
			<tfoot>
				<PagingComponent 
					MetaData="MetaData" 
					Spread="3" 
					SelectedPage="SelectedPage">
				</PagingComponent>
			</tfoot>
		</table>
	</div>

	<ConfirmComponent 
		Messages = "@("Are you sure to delete ?")"
		Title = "Delete Task"
		@ref = "DeleteConfirmation"
		ConfirmationChanged = "OnConfirmDeleteTask">
	</ConfirmComponent>

	<AssignTaskComponent
		@ref = "AssignTask"
		CloseEventCallback = "OnAssignTaskSuccess">

	</AssignTaskComponent>
}
